<html>
    <head>
     <title>
       <%= title %>
     </title>
    </head>
    <body>
        <h1>Playground for practice.js</h1>

        <p>
            <% for(let i = 1; i<=10; i++){ %> 
              <li>
                <%= i %>
              </li>  
            <%} %>
        </p>
        <em>Lets do Express.js</em>
    </body>
</html>